@CHARSET "ISO-8859-1";
/* v_consulter_praticien */
div.Fond_site {
	background-color:rgb(40,40,55);
}
/* v_consulter_praticien */
div.Couleur_titre {
	color:rgb(63,170,213);
}
div.Couleur_soustitre {
	color:rgb(170,192,206);
}
div.Couleur_ecriture {
	color:rgb(66,44,55);
}
label.Couleur_fond_blanc {
	background-color:white;
	font-size:16px;
	font-family: Comic Sans MS; 
}